@section head {
    <link href="@Url.Content("~/Content/about.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Lang.L("ワタベウェディングとは", "About Watabe Wedding");
}

<div class="itemBlockIndex">
    <h1><img alt="ワタベウェディングとは" src="@Url.Content("~/Content/img/ttl_about.gif")" width="690" height="43" /></h1>
    <div class="aboutSection">
        <div class="catch">
            <h3><img alt="業界首位の実績を誇るリーディングカンパニー" src="@Url.Content("~/Content/img/txt_about_catch.gif")" width="355" height="18" /></h3>
            <dl>
                <dt style="padding:10px 10px;">WATABEグループによる全方位・高クオリティーのサービスをご提供</dt>
                <dd>私たちは「真心の奉仕と知恵ある提案を通じて、すてきな生活文化を創造し、心豊かな社会の実現に貢献する」という経営基本理念を掲げ、国内外の挙式サービスや衣裳・写真事業を展開しています。それぞれの事業を収益の柱として機能させ、挙式売上の規模の拡大にけん引される収益構造を確立しています。お客様に「人生最高の一日」を過ごしていただくため、グループとしての総合力を結集し、ブライダルに対する多様なニーズに付加価値の高い提案力でお応えします。</dd>
            </dl>
        </div>
        <dl class="detail type01 clearfix">
            <dt style="padding:10px 10px;"><img alt="グローバルネットワークを活かし、満足・感動を実現" src="@Url.Content("~/Content/img/subttl_about_01.gif")" width="690" height="14" /></dt>
            <dd>
                <div>当社グループは国内78拠点、海外32拠点（2014年6月30日現在）のグローバルなネットワークを持ち、お客さまに心からご満足いただけるブライダルサービスのサポート体制を整備しています。総合ブライダル企業として、このグローバル・ネットワークを活かし、海外＆国内挙式からハネムーンまでブライダルに関するあらゆるサービスを多角的に展開しています。世界中のお客様に対して「最高の満足、最高の感動をどう提供できるか」を常に考えながら、「日本のワタベウェディング」から「世界のワタベウェディング」へと今後もグローバルな視点と機動力で飛躍してまいります。</div>
            </dd>
        </dl>
        <div class="btn float_right"><a href="http://www.watabe-wedding.co.jp/corporate/company/network/" target="_blank"><img alt="ネットワークはこちら" src="@Url.Content("~/Content/img/btn_network.gif")" width="150" height="26" /></a></div>
        <dl class="detail type05">
            <dt style="padding:10px 10px;"><img alt="人財力の強化" src="@Url.Content("~/Content/img/subttl_about_02.gif")" width="690" height="14" /></dt>
            <dd class="clearfix">
                <div class="txt">当社の力の源泉は、お客様に接する従業員一人ひとりのホスピタリティです。サービスは「to you（１対多）」ですが、ホスピタリティは「for you（１対１）」が基本です。そこには、マニュアルでは対応できない本物のおもてなしが求められます。一人ひとりの"人間力" が磨かれる職場環境を作るため、当社では人財力の強化に注力しています。自ら伸びる土壌を作り出し、一人ひとりの成長を促すとともに、当社グループのさらなる発展を支える高いホスピタリティを持つ人財の教育に取り組んでまいります。</div>
                <!--kit<div class="photo"><img alt="" src="/library/corporate/img/about/photo_about.jpg" width="305" height="223" /></div>kit-->
            </dd>
        </dl>
    </div>
</div>

