@{
    ViewBag.Title = "Item Type";
}

@section head{
    <link href="@Url.Content("~/Areas/Masters/Content/masters.css")" rel="stylesheet" type="text/css" />
}

<div class="app_wrapper">
    <h3>@ViewBag.Title</h3>

    <div id="app">
        @* 検索パネル *@
        <div class="search clearfix">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Item Type</label>
                    <div class="col-sm-1">
                        <input type="text" data-bind="value: search.item_type, events: {change: refreshList }" 
                               maxlength="3"
                               class="form-control input-sm k-input k-textbox toupper tohankaku" />
                    </div>
                    <label for="" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: search.description, events: { change: refreshList }" 
                               maxlength="100"
                                class="form-control input-sm k-input k-textbox" />
                    </div>
                </div>
            </form>
        </div>

        @* 検索結果の一覧グリッド *@
        <div id="grd"
             data-role="grid"
             data-bind="source: list"
             data-toolbar="[{name:'create', text:'Create New'}, {name:'copy', text:'Copy'}, {name:'destroy', text:'Delete' }, {name: 'refresh', text:'Refresh'}]"
             data-selectable="true"
             data-sortable="true"
             data-resizable="true"
             data-scrollable="true"
             data-height="560"
             data-columns="[  {field: 'item_type', title: 'Code', width: 50}
                            , {field: 'desc_eng', title: 'Description Eng'}
                            , {field: 'desc_jpn', title: 'Description Jpn'}
                            , {field: 'info_type', title: 'Info Type', width: 50}
                            , {field: 'last_person', title: 'Last person', width:80}
                            , {field: 'update_date', title: 'Updated', width:160, format: '{0:MM/dd/yyyy HH:mm:ss}' }
                            , {field: 'item_type', title: ' ', width: 60, template: '<a data-key=\'#=item_type#\' class=\'btn btn-sm btn-default grid_edit_button\' data-bind=\'click:editItem\'><span class=\'k-icon k-edit\'><\/span><\/a>'}
                        ]"></div>
    </div>

    @* 詳細編集ダイアログ *@
    @Html.Partial("ItemTypeEditPartial")
</div>

@section scripts {
<script src="@Url.Content("~/Scripts/require.min.js")"
            data-main="@Url.Content("~/Areas/Masters/Scripts/ItemTypeIndexView")"></script>
}