@{
    ViewBag.Title = "Pickup Place";
}

@section head{
    <link href="@Url.Content("~/Areas/Masters/Content/masters.css")" rel="stylesheet" type="text/css" />
}

<div class="app_wrapper">
    <h3>@ViewBag.Title</h3>

    <div id="app">
        @* 検索パネル *@
        <div class="search clearfix">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Hotel Code</label>
                    <div class="col-sm-1">
                        <input type="text" data-bind="value: search.hotel_cd, events: {change: refreshList }"
                               class="form-control input-sm select-hotel " />
                    </div>
                </div>
            </form>
        </div>

        @* 検索結果の一覧グリッド *@
        <div id="grd"
             data-role="grid"
             data-bind="source: list"
             data-toolbar="[{name:'create', text:'Create New'}, {name:'copy', text:'Copy'}, {name:'destroy', text:'Delete' }, {name: 'refresh', text:'Refresh'}]"
             data-selectable="true"
             data-sortable="true"
             data-resizable="true"
             data-scrollable="true"
             data-height="560"
             data-columns="[  {field: 'place_order', title: 'Order', width: 50}
                            , {field: 'place_name', title: 'Name Jpn'}
                            , {field: 'place_name_eng', title: 'Name Eng'}
                            , {field: 'hotel_cd', title: 'HotelCd', width: 80}
                            , {field: 'last_person', title: 'Last person', width:80}
                            , {field: 'update_date', title: 'Updated', width:160, format: '{0:MM/dd/yyyy HH:mm:ss}' }
                            , {field: 'place_id', title: ' ', width: 60, template: '<a data-key=\'#=place_id#\' class=\'btn btn-sm btn-default grid_edit_button\' data-bind=\'click:editItem\'><span class=\'k-icon k-edit\'><\/span><\/a>'}
                        ]"></div>
    </div>

    @* 詳細編集ダイアログ *@
    @Html.Partial("PickupPlaceEditPartial")
</div>

@section scripts {
<script src="@Url.Content("~/Scripts/require.min.js")"
            data-main="@Url.Content("~/Areas/Masters/Scripts/PickupPlaceIndexView")"></script>
}