<script id="template_help" type="text/x-kendo-template">
    <ul class="helpmenu">
        @*<li><a href="@Url.Action("Data", "Home")">@Lang.L("会社概要", "ABOUT OUR COMPANY")</a></li>*@
        @*<li><a href="@Url.Action("Guide", "Home")">@Lang.L("ご利用ガイド", "FOR FIRST TIME USERS")</a></li>*@
        @*<li><a href="@Url.Action("Term", "Home")">@Lang.L("サイト利用規約", "WEBSITE TERMS OF USE")</a></li>*@
        @*<li><a href="@Url.Action("Privacy", "Home")">@Lang.L("プライバシー規定", "PRIVACY POLICY")</a></li>*@
        @*<li><a href="@Url.Action("CxlPolicy", "Home")">@Lang.L("キャンセル規定", "CANCEL POLICY")</a></li>*@
        @*<li><a href="@Url.Action("Precaution", "Home")">@Lang.L("ご注意事項", "PRECAUTIONARY STATEMENT")</a></li>*@
        @*@Html.Action("Index", "File")*@
        <li><a href="@Url.Action("Faq", "Home")">@Lang.L("よくあるご質問", "FAQ")</a></li>
        <li><a href="@Url.Action("Contact", "Home")">@Lang.L("お問合せ", "CONTACT US")</a></li>
    </ul>
</script>

