<script id="template_login" type="text/x-kendo-template">
    <div style="padding-bottom:10px;">
        <a href="@Url.Action("Change", "Login")">@Lang.L("アカウント情報", "Account settings")</a>
    </div>
    @*<div style="padding-bottom:10px;">
            <a href="@Url.Action("Invite", "Login")">@Lang.L("パートナーのアカウントを作成する", "Create your partner account")</a>
        </div>*@
    <div style="padding-bottom:10px;">
        <a href="@Url.Action("LogOff", "Login")">@Lang.L("ログアウト", "Logout")</a>
    </div>
</script>

