@using System.Configuration;
@using MauloaDemo.Utilities;
@using MauloaDemo.Customer.ViewModels;
@using WtbApi.Data.Models.All;
@{
    var EnableMultiLanguage = TypeHelper.GetBool(ConfigurationManager.AppSettings["EnableMultiLanguage"]);
    CAccount cur_user = ViewBag.CurrentLoginUser as CAccount;
    RegionInfo cur_region = ViewBag.CurrentRegionInfo as RegionInfo;
    var lang = cur_region != null ? cur_region.CurrentLanguage : "J";
    var culture_name = Lang.isJPN() ? "ja-JP" : "en-US";
    var picture_lang = Lang.isJPN() ? "jpn" : "eng";
    var shopping_enabled = TypeHelper.GetBool(ConfigurationManager.AppSettings["ShoppingEnabled"]);
    var logged_in = (cur_user != null);

    int user_id = cur_user != null ? cur_user.account_id : 0;
    string user_name = cur_user != null ? cur_user.CustomerName : "";
    string c_num = cur_user != null ? cur_user.c_num : "";

    //var default_date_format = lang == "E" ? "MM/dd/yyyy" : "yyyy/MM/dd";
    //var date_format = cur_user != null ? cur_user.date_format : default_date_format;
    //if (string.IsNullOrEmpty(date_format)) {
    //    date_format = default_date_format;
    //}
    //var time_format = cur_user != null ? cur_user.time_format : default_time_format;
    //if (string.IsNullOrEmpty(time_format)) {
    //    time_format = default_time_format;
    //}
    var date_format = "yyyy/MM/dd";
    var time_format = "HH:mm";
    
    var RegionCd = cur_region != null ? cur_region.CurrentDestination : "";
    var CurFmt = cur_region != null ? cur_region.CurrencyFormat : "";
    var IsTest = TypeHelper.GetBool(ConfigurationManager.AppSettings["IsTest"]);
    var base_url = Url.Content("~/");
    base_url = base_url.EndsWith("/") ? base_url : base_url + "/";

    //下の「}」の後に改行を入れない事。(入れるとHTMLの1行目が空行になる。)
}<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />*@
    <meta name="viewport" content="width=1000" />

    @* IE8のコンパティビリティモードを使用させない様にする。（IE6/7互換モードだとJSONのエラーが出るため。）*@
    <meta http-equiv="X-UA-Compatible" content="IE=100" />

    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription)) {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaKeywords)) {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    <meta property="og:image" content="@Url.Content("~/common/img/visual_01.jpg")">
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/structure")*@
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/alertifycss")
    @Styles.Render("~/Content/toastrcss")
    @Styles.Render("~/Content/stylesheet")
    @Styles.Render("~/Content/kendo/kendocss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/kendo/kendoui")
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/common/js/jquery.backstretch.min.js")"></script>*@
    @*これがあるとKENDOが効かなくなる*@
    <script type="text/javascript" src="@Url.Content("~/common/js/common.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="~/Scripts/kendo/cultures/kendo.culture.en-US.min.js"></script>
    <script src="~/Scripts/kendo/cultures/kendo.culture.ja-JP.min.js"></script>
    <script> kendo.culture("@(culture_name)"); </script>
    @Scripts.Render("~/bundles/alertify")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/moment")

    <link rel="shortcut icon" href="@Url.Content("~/common/img/favicon.ico")" />

    @* アクセス解析用スクリプト *@
    @if (!IsTest) {
        @Html.Partial("GoogleAnalytics")
        @Html.Partial("FacebookAdsYTMTag")
        @Html.Partial("AdobeDTMTagHead")
    }

    <style>
        body {
          @* 画像ファイルの指定 *@
          background-image:url("@Url.Content("~/common/img/visual_01.jpg")");

          @* 画像を常に天地左右の中央に配置 *@
          background-position: center center;

          @* 画像をタイル状に繰り返し表示しない *@
          background-repeat: no-repeat;

          @* コンテンツの高さが画像の高さより大きい時、動かないように固定 *@
          background-attachment: fixed;

          @* 表示するコンテナの大きさに基づいて、背景画像を調整 *@
          background-size: cover;

          @* 背景画像が読み込まれる前に表示される背景のカラー *@
          /*background-color: #464646;*/
        }
        .step1 ul{
	        background:url("@Url.Content("~/common/img/bg_process_01.png")") no-repeat center center;
        }
        .step2 ul{
	        background:url("@Url.Content("~/common/img/bg_process_02.png")") no-repeat center center;
        }
        .step3 ul{
	        background:url("@Url.Content("~/common/img/bg_process_03.png")") no-repeat center center;
        }
        .step4 ul{
	        background:url("@Url.Content("~/common/img/bg_process_04.png")") no-repeat center center;
        }
    </style>
    @RenderSection("head", required: false)
</head>
<body>
    <div id="ContentWrapper">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    @Html.Partial("_LoginMenu")
    @Html.Partial("_HelpMenu")

    @* CSRF対策用トークン。 *@
    <div id="AntiForgeryTokenContainer">@Html.AntiForgeryToken()</div>
    <!-- [head]内や、[body]の終了直前などに配置 -->
    <div id="fb-root"></div>

    @* クライアントサイドのJavaScriptでグローバルに使用するAppオブジェクトを定義 *@
    <script>
    window.App = window.App || {};

    App.User = {
        Id: "@(user_id)",
        Name: "@(user_name)",
        c_num: "@(c_num)"
    };
    App.Config = {
        RegionCd: "@(RegionCd)",
        EnableMultiLanguage: !!("@(EnableMultiLanguage ? "1": "")"),
        Language: "@(lang)",
        CultureName: "@(culture_name)",
        DateFormat: "@(date_format)",
        TimeFormat: "@(time_format)",
        CurFormat: "@(CurFmt)",
        BaseURL: "@(base_url)",
        IsTest: !!("@(IsTest ? "1": "")"),
        AntiForgeryToken: ""    @* application.js内でセット。 *@
    };
    App.Utils = {};     @*ユーティリティ関数を~/Scripts/Apps/catweb_common.jsで定義。*@
    App.Models = {};    @*JS側のモデル定義を~/Scripts/Apps/Models/*.jsで定義。*@
    App.ViewModels = {};

    $(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/@(culture_name)/sdk.js#xfbml=1&version=v2.5&appId=450836918428884";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        @*jQuery(document).ready(function ($) {
            $.backstretch([
        "@Url.Content("~/common/img/visual_01.jpg")"
            ], { duration: 3000, fade: 2000 });
        });*@

        // bodyにdivを追加
        $('body').append('<div id="curtain">');

        // 追加したdivを塗りつぶしてから透明化アニメーション
        $('#curtain').css({
            position: 'absolute',
            left: 0, top: 0,
            width: '100%', height: '100%',
            backgroundColor: '#fff',
            opacity: 100
        }).animate({
            opacity: 0
        }, 3000, function () {
            // アニメーション終了後に自身を消す
            $(this).remove();
        });


    </script>

    <script src="@Url.Content("~/Scripts/App/common.js")?v=20151228"></script>
    <script src="@Url.Content("~/Scripts/App/application.js")?v=20151228"></script>
    @RenderSection("scripts", required: false)

    @if (!IsTest) {
        @* Adobe（サイトカタリスト）DTM 計測用スクリプト (bodyタグの最後に入れるもの) *@
        @Html.Partial("AdobeDTMTagBody")
    }
</body>
</html>